<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;"><span style="color: #000080;">Welcome to the Exploration Page</span></h1>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #333399;">Click on the button below to explore a new planet</span></p>
<p style="text-align: center;"><span style="color: #333399;"><img src="https://cdn.pixabay.com/photo/2020/03/19/11/47/solar-system-4947216_1280.png" alt="" width="431" height="286" /></span></p>
<p style="text-align: center;"><span style="color: #0000ff;">----&gt;</span> <strong><a href="{{ url_for('explore') }}">Explore New Planet</a></strong> <span style="color: #0000ff;">&lt;----</span></p>
<p style="text-align: center;">&nbsp;</p>
