<h1 style="text-align: center;"><span style="color: #000080;">Information about the planet</span></h1>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>Name</strong>: {{ planet_name }}</p>
<p style="text-align: center;"><strong>Type</strong>: {{ planet_type }}</p>
<p style="text-align: center;"><strong>Average temperature</strong>: {{ planet_average_temperature }}</p>
<p style="text-align: center;"><strong>Orbital velocity</strong>: {{ planet_orbital_velocity }}</p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="color: #0000ff;">----&gt;</span> <a href="{{ url_for('index') }}"><strong>Go back to the main page</strong></a> <span style="color: #0000ff;">&lt;----</span></p>
